!!!
%html
  %head
    %title= "Tyler Wymer #{'-' if @title} #{@title}"
    %link{'rel' => 'stylesheet', 'href' => 'bootstrap.css', 'type' => 'text/css'}
    %link{'rel' => 'stylesheet', 'href' => 'tw.css', 'type' => 'text/css'}
    %script{:src => 'jquery-1.7.2.min.js', :type => 'text/javascript'}
    %script{:src => 'bootstrap.min.js', :type => 'text/javascript'}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => '/'} Tyler Wymer
          %ul.nav
            -#%li#home-tab.tab
              -#%a{:href => "/"} home
            %li#about-tab.tab{:class => "#{'active' if @title == "About"}"}
              %a{:href => "/about"} about
            %li#projects-tab.tab{:class => "#{'active' if @title == "Projects"}"}
              %a{:href => "/projects"} projects
            %li
              %a{:href => "/resume"} resume

    =yield
